/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/

/* Base */
html,body {
	min-height: 100%;
}

body {
	font: 16px/1 "Lato", Helvetica, Arial, sans-serif;
	color: #4a4a4a;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	position: relative;
}

#wrapper, .wrapper {
	max-width: 990px;
	margin: 0 auto;
	padding: 100px 40px 60px 40px;
}

img {
	max-width: 100%;
}
.photo {
	max-width: 440px;
	position: relative;	
}


#thumbnails {
	margin: 0 auto;
	margin-top: 46px;
	text-align: center;
}

#thumbnails h2 {
	text-align: left;
}

.about {
	font-size: 22px;
	line-height: 1.62;
}

.emphasis {
	color: #80D681;
}

.contact  { 
	color: #4a4a4a;
	text-decoration: underline;
	font-size: 20px; 
	text-align: right;
	display: block;
	font-weight:300;
	padding-bottom: 10px;
}


#thumbnails a {
	width: 49%;
	float: left;
	position: relative;
}

#thumbnails a {
		margin-right: 2%;
		margin-top: 2%;
}

#thumbnails a:nth-child(1), #thumbnails a:nth-child(2) {
		margin-top: 0;
}

#thumbnails a:nth-child(2n) {
	margin-right: 0;
}

#thumbnails a,#thumbnails a span {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#thumbnails a img {
	display: block;
	background: #fff;
	width: 100%;
	height: auto;
}

#thumbnails a span.title {
	color: #eee;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	font-weight: 400;
	padding: 20px;
	text-align: left;
}


#thumbnails a span.color-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 15px;
	right: 0;
}

#thumbnails a span.tags {
	color: #eee;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 20px;
	font-weight: 400;
	padding: 20px;
	text-transform: uppercase;
}

#thumbnails a span.opaque-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0D0B25;
	opacity: .65;
}

#thumbnails a:hover {
	opacity: .85;
}


#other-work {
	max-width: 100%;
}

#other-work h2 {
	padding-top: 46px;
}

.row{
  width: 100%;
  clear: both;
}
/*what does clearboth mean?*/

.wording{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 15%;
  height: 170px;
  line-height: 20px;
  border-right: 15px solid #73D174;
  position: relative;
  padding:  10px;
  padding-top: 70px;
  padding-left: 10px;
  float: left;
  overflow: visible;
  text-align: right;
}
.explanation {
	font-size: 12px;
}


.arrow {
  position: absolute;
  top: 70px;
  right: -25px;

  /* Arrow effect */
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #73D174;
}

.images{
  	padding: 10px;
}
.images img{
	max-height: 116px;
	margin-left: 10px;
}

#footer { 
	padding: 40px 0 0 0;
	margin-top: 100px; 
	}

/*#footer p {
	float: left;
}*/



/* Type */
/* Accent color */
a	{
	text-decoration: none; 
	color: #4EADF6;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
}
a:hover {
	color: #4492CD;
}

ul 	{ margin: 0; padding: 0; }
li	{ list-style-type: circle; list-style-position: inside; }

/* Line Height */


h1 {
	line-height: 100%;
	color: #80D681;
	font-weight: 500;
	font-size: 48px;
	margin: 0;
	padding-bottom: 10px;
	text-align: right;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	/*padding-top: 46px;*/
	padding-bottom: 36px;
}

h3 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 6px;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small { 
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

#header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	position: relative;
}

#header .name {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

#header .contact-container {
	position: absolute;
	bottom: 10px;
	right: 0;
}

/*featherlight*/

.featherlight .featherlight-close-icon{
		position:absolute;
		z-index:9999;
		top:5px;	
		right:5px;

	}
/*media queries*/



@media screen and (max-width: 960px) {
	.photo {max-width: 350px;}
	.name h1 {font-size: 36px;}
	.name h2 {font-size: 26px;}
	#other-work .wording {width: 100%;
			border-right:0;
			border-top: 3px solid #73D174;
			padding-top: 8px;
			margin-bottom: 10px;
			height: 100%;
			}
	.images {
		padding-left: 0px;}

	.images img {
		margin-bottom: 10px;
		margin-left: 0px;
	}
  	.arrow {display:none;}
}

@media screen and (max-width: 740px) {
	.photo {max-width: 250px;}
	.name h1 {font-size: 30px;}
	.name h2 {font-size: 22px;}
	#thumbnails a span.tags {font-size: 14px;}

	}


@media screen and (max-width: 540px) {
	#wrapper, .wrapper { padding: 20px 40px; }
	#header { margin-bottom: 40px; }
	.name {z-index: 1000000000};
	.name h1 { font-size: 28px; }
	.name h2 { display:none; }
	.name h2.name-small {display:inline; font-size: 20px}
	.photo {opacity:.2;}
	#footer { margin-top: 40px; padding-bottom: 20px; }
	p.about {font-size: 18px;}
  	.post h2 {font-size: 28px; line-height: 1.2;}
  	.contact {font-size: 14px; line-height: 1.5;}
  	section .post-wrapper {
  		padding-left: 15px;
  		padding-right: 15px;
  	}

 }




@media screen and (min-width:539px) {
	.name h2.name-small {
		display:none;
	}
}


@media screen and (max-width:500px) {

	#thumbnails a:nth-child(n) {
				margin-top: 20px;
		display: inline-block;
		float: none;
	}

	#thumbnails a img {
		display: block;
		width: 100%;
		height:auto;
	}

	#thumbnails a:nth-child(n) {width: 100%;}

	a#docs { display: none; }
	#thumbnails a:first-child { margin-top: 0;}
	/*#header { text-align: center; margin-bottom: 0; }*/
	#wrapper, .wrapper { padding: 20px 15px 40px 15px; }
	.post { margin-bottom: 40px; }
	#footer { text-align: center; padding-bottom: 15px; }

}