<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/post.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>


	
	<title>Rachel Hannah Litt.</title>
	

  </head>

<body>


{% extends "base.html" %}
{% block content %}

<section id="wrapper">
	<header id="header">
		<div class="name">
			<h1>Rachel Hannah Litt</h1>
			<h2>Product Designer @ Bloomboard</h2>
			<h2 class="name-small">UX Designer</h2>
		</div>
		<div class="photo">
			<img src="./static/images/Rachel_50.png">
		</div>
		<div class="contact-container">
			<a class="contact" href="mailto:rachel.litt@gmail.com">Rachel.litt@gmail.com</a>
			<a class="contact" href="https://www.linkedin.com/in/rachelhlitt">LinkedInprofile </a> 
		</div>
	</header>

	<p class="about"> 4 years ago, I started at an education technology company as employee number 5. Since then, I’ve gone from not knowing what “UX design” meant to playing a pivotal role in product strategy, design, and, ultimately, the creation of an experience that fundamentally changes (and improves!) the way teachers receive professional development. </p> 
	<br>

	<p class="about">I’ve fallen in love with the mix of analytical and creative thinking that being a product designer offers.  And I’ve come to understand that the profession is first and foremost about asking the right questions—convenient for someone who has never missed an opportunity to ask why in her life. </p>
	<br>


	<p class="about"> I’m passionate about solving problems (and making sure they are the right ones to solve), and shepherding the entire end-to-end process of design: from need-finding to side-by-side work with engineering partners on the all-important execution details. </p>
	<br>


	<p class="about">I care deeply about the well-being of my colleagues, and I value bringing joy to the workplace. Sometimes this means I'm just a little bit mischievous &mdash; I've been known to play an office prank (or two). In my free time, I love to run, enjoy San Francisco's beautiful weather, and I dream about owning a Bernese Mountain Dog (or two).</p>

	<section id="thumbnails">
		<h2> Case Studies </h2>
		<div class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span class="opaque-cover"></span>
					<span class="title">{{ post.title }}</span>
					<span class="tags">{{ post.tags }}</span>
					<span class="color-bar" style="background: {{ post.color }}"></span>
				</a>
			{% endfor %}
		</div>
	</section>

	<section id="other-work">
		<h2> Other samples of work </h2>
		<div class="row">
			<div class="wording">
				Research
				<div class="arrow"></div>
			</div>

			<div class="images">
					<a href="./static/images/Searchtest.png" data-featherlight="image" class="2x">
						<img src="./static/images/Searchtest.png" alt="testing title" class="2x"/>
					</a>
				<a href="./static/images/timelinepage1.png" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/timelinepage1.png" class="2x"/>
				</a>
				<a href="./static/images/enterprise.png" data-featherlight="image" class="2x">
					<img src="./static/images/enterprise.png" class="2x"/>
				</a>
				<a href="./static/images/ABtesting.png" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/ABtesting.png" class="2x"/>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="wording">
				Insights &amp; product strategy 

				<div class="arrow"></div>
			</div>

			
			<div class="images">
				<a href="./static/images/Opendoor.jpg" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/Opendoor.jpg" class="2x"/>
				</a>
				<a href="./static/images/enterprisevalueprop.png" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/enterprisevalueprop.png" class="2x"/>
				</a>
				<a href="./static/images/alphaphases.jpg" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/alphaphases.jpg" class="2x"/>
				</a>
				<a href="./static/images/obsreboot.jpg" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/obsreboot.jpg" class="2x"/>
				</a>
			</div>
		<div class="row">
			<div class="wording">
				IA &amp; interaction design
				<div class="arrow"></div>
			</div>
			<div class="images">
				<a href="./static/images/resourcetypes.png" data-featherlight="image" class="2x">
					<img src="./static/images/resourcetypes.png" class="2x"/>
				</a>
				<a href="./static/images/Observerdash.png" data-featherlight="image" class="2x">
					<img src="./static/images/Observerdash.png" class="2x"/>
				</a>
				<a href="./static/images/private-content-flow.png" data-featherlight="image" class="2x">
					<img src="./static/images/private-content-flow.png" class="2x"/>
				</a>

			</div>
		</div>

		<div class="row">
			<div class="wording">
				User interface design
				<div class="arrow"></div>
			</div>

			<div class="images">
				<a href="./static/images/resourcepages.png"	data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/resourcepages.png" class="2x"/>
				</a>

				<a href="./static/images/singularhomepage_2.png" data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/singularhomepage_2.png" class="2x"/>
				</a>
				
				<a href="./static/images/Tiles.png"	data-featherlight="image" class="2x">
					<img style="border: 1px solid #EEE" src="./static/images/Tiles.png" class="2x"/>
				</a>
					
				</div>
			</div>
		</section>

		{% block footer %}
		<footer id="footer">
		</footer>
		{% endblock footer %}
	</section>


	{% endblock content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/main.js"></script>

</body>
</html>


