{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<div class="name">
				<h1>Rachel Hannah Litt</h1>
				<h2>Product Designer @ Blooooooomboard</h2>
			</div>
			<div class="photo">
				<img src="./static/images/rachel.jpg">
			</div>
			<div class="contact-container">
				<a class="contact" href="google.com">Rachel.litt@gmail.com</a>
				<a class="contact" href="linkedin.com">Linkedinprofile </a> 
			</div>
		</header>

		<p class="about"> I work on user experience research, synthesis and design for an education technology company.   I’m still developing my design philosophy, but I’m pretty set on one thing: Never miss an opportunity to <span class="emphasis"> ask WHY </span>.  In practice, this means I’m focused not only on how we build, but also on WHAT we build.   At work, I’m deeply concerned with the well-being of my colleagues; relationships are very important to me.  In my free time, I’m a pretty stereotypical San Franciscan (outdoor activities, food, yoga, etc.). 
		</p>


		<a id="docs" href="http://cactusformac.com/redirect/#documentation">Documentation</a>

		<section id="thumbnails" class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span class="opaque-cover"></span>
					<span class="title">{{ post.title }}</span>
					<span class="tags">{{ post.tags }}</span>
					<span class="color-bar" style="background: {{ post.color }}"></span>
				</a>
			{% endfor %}
		</section>

		{% block footer %}
			<footer id="footer">
				<p class="small">A short description.</p>
			</footer>
		{% endblock footer %}
	</section>

	<a href="http://cactusformac.com/?utm_source=templates&utm_medium=badge&utm_campaign=portfolio-template"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>
	
{% endblock content %}
