{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

	<nav id="nav-top">
		<a href='/'>
	<!-- 		<span class="nav-arrow">&larr;</span> -->
			RACHEL HANNAH LITT
		</a>
	</nav>
	<header id="post-header">
		<div class="header-img-container">
			<div class="header-image" style="background-image:url({{ headerImg }})"> </div>
			<!-- <img src=" {{ headerImg }}"/> -->
			<!-- <img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/> -->
			<span class="img-cover" style="background: {{ color }}" />
		</div>
		<div class="wrapper">
			<div class="title-block-container">
				<div class="title-block" style="color: {{ color }}; border-color: {{ color }}">
					<div class="content">{{ title }}</div>
				</div>
				<div class="meta-information">
					<span class="intro"> {{year}} </span> 
					<span class="secondary"> {{role}} </span> 
					<br>
					<span class="intro"> Focus on </span>
					<span class="secondary"> {{ focus }} </span>
					
				</div>
			</div>

			<div class="header-text">
				{% block headerText %}
					This is where the header text goes
				{% endblock headerText %}
			</div>
		</div>
	</header>

	<section class="post-wrapper" class="post clearfix">
		<article class="post">
			<section class="post-body">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
		</article>
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="nav-arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="nav-arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
			<footer>
				<div class="back"> 
					<a href="..">RACHEL HANNAH LITT </a>
				</div>
				<div class="color-bar" style="background: {{ color }}"></div>
			</footer>

	</section>

{% endblock content %}