{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

	<nav>
		<a href='/'>RACHEL IS THE BEST</a>
	</nav>
	<header id="post-header">
		<div class="header-img-container">
			<img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/>
			<span class="img-cover" style="background: {{ color }}" />
		</div>
		<div class="wrapper">
			<div class="title-block-container">
				<div class="title-block" style="color: {{ color }}; border-color: {{ color }}">
					<div class="content">{{ title }}</div>
				</div>
				<div class="meta-information">
					Focus on: awesome
					<br>
					I'm the: best
				</div>
			</div>

			<div class="header-text">
				{% block headerText %}
					This is where the header text goes
				{% endblock headerText %}
			</div>
		</div>
	</header>

	<section id="wrapper" class="post clearfix">
		<article class="post">
			<section class="post-body">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
		</article>

		<footer id="post-meta" class="clearfix">
			<!-- <div class="date">{{ date|date:"M j" }}</div> -->
			{% if tags %}
				<div><span>Tags</span> {{ tags }} </div>
			{% endif %}
		</footer>

		<footer class="post-footer">
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	</section>

{% endblock content %}